<!DOCTYPE html>
<html lang="en">
<title>  Student_Registration</title>
<head>
	<style type="text/css">
		button{
			display: block;
  width: 100%;
  border: 1px solid #ebebeb;
  padding: 11px 20px;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px;
  background-color: #14bdee }

	</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts3/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css3/style.css">
</head>
<body>

  
  <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="images3/signup-img.jpg" alt="">
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form">
                        <center><h2>Student registration form</h2></center>
                        <div class="form-group">
                            <label for="address">Student RegNo.:</label>
                            <input type="text" name="Student_RegNo" id="Student_RegNo" required/>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="name">First Name :</label>
                                <input type="text" name="name" id="name" required/>
                            </div>

                            <div class="form-group">
                                <label for="father_name">Last Name :</label>
                                <input type="text" name="father_name" id="father_name" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">Course ID:</label>
                            <input type="text" name="Course ID" id="Course ID" required/>
                        </div>
                         
                        <div class="form-radio">
                            <label for="gender" class="radio-label">Gender :</label>
                            <div class="form-radio-item">
                                <input type="radio" name="gender" id="male" checked>
                                <label for="male">Male</label>
                                <span class="check"></span>
                            </div>
                            <div class="form-radio-item">
                                <input type="radio" name="gender" id="female">
                                <label for="female">Female</label>
                                <span class="check"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="state">Courses :</label>
                                <div class="form-select">
                                    <select name="courses" id="courses">
                                        <option value=""></option>
                                        <option value="Physical Science">Physical Science</option>
                                        <option value="Natural Science">Natural Science</option>
                                        <option value="Humanities">Humanities</option>
                                        <option value="Commerce">Commerce</option>
                                        <option value="Vocational">Vocational</option>
                                        <option value="Professional">Professional</option>
                                    </select>
                                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="city">Stream :</label>
                                <div class="form-select">
                                    <select name="Stream" id="stream">
                                        <option value=""></option>
                                        <option value="CBZ">CBZ</option>
                                        <option value="MCB">MCB</option>
                                        <option value="MCZ">MCZ</option>
                                        <option value="CBBT">CBBT</option>
                                        <option value="CZBT">CZBT</option>
                                        <option value="CEB">CEB</option>
                                        <option value="CEZ">CEZ</option>
                                        <option value="PCM">PCM</option>
                                        <option value="PEM">PEM</option>
                                        <option value="EMS">EMS</option>
                                        <option value="PMC">PMC</option>
                                        <option value="MEC">MEC</option>
                                        <option value="EJP">EJP</option>
                                        <option value="HEP">HEP</option>
                                        <option value="EPS">EPS</option>
                                        <option value="IES">IES</option>
                                        <option value="CPE">CPE</option>
                                        <option value="CZBT">CZBT</option>
                                        <option value="JIP">JIP</option>
                                        <option value="BVMF">BVMF</option>
                                        <option value="BDMA">BDMA</option>
                                        <option value="BAVC">BAVC</option>
                                        <option value="BSW">BSW</option>
                                        <option value="BCA">BCA</option>
                                        <option value="B.COM(Regular)">B.COM(Regular)</option>
                                        <option value="EJP">B.COM {BPS(Industry)} {BPS(Industry Industry)}</option> 
                                        <option value="B.COM (International Finance and Accounting)">B.COM (International Finance and Accounting)</option>
                                        <option value="BBA(Regular)">BBA(Regular)</option>

                                        <option value="BBA(Strategic)">BBA(Strategic)</option>


                                    </select>
                                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="pincode">Phone No.:</label>
                            <input type="text" name="Phone No." id="phone_number">
                        </div>
                        
                        <div class="form-group">
                            <label for="email">Email ID :</label>
                            <input type="email" name="email" id="email" />
                        </div>
                        <div class="form-submit">
                            <center><input type="submit" value="Reset All" class="submit" name="reset" id="reset" /></center><br>
                            <button type="submit"><a href="index.html" style="color:white"> Submit Form</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor3/jquery/jquery.min.js"></script>
    <script src="js3/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>